UnityVfxShowReel/Library
UnityVfxShowReel/Logs
UnityVfxShowReel/UserSettings
UnityVfxShowReel/.idea
UnityVfxShowReel/Temp
UnityVfxShowReel/obj
CustomRP/.idea
CustomRP/.vscode
CustomRP/Library
CustomRP/Logs
CustomRP/Temp
CustomRP/UserSettings
CustomRP/obj
UnityVfxShowReel/.vscode
CustomRP/CustomRP.sln.DotSettings.user
UnityVfxShowReel/Assets/.DS_Store
UnityVfxShowReel/Packages/.DS_Store
UnityVfxShowReel/Assets/_GPUParticles/.DS_Store
UnityVfxShowReel/Assets/_GPUParticles/MeshVertexEmitParticle/.DS_Store
UnityVfxShowReel/Assets/_HalfLambert/.DS_Store
